.row{
    
}
.wide--one-fifth {
    width: 20%;
  }
  .wide--four-fifth {
    width: 80%;
  }
  .wide--one-three {
    width: 33.333%;
  }
  .wide--two-three {
    width: 66.6666%;
  }
  .wide-one-one {
    width: 100%;
  }
  .wide--one-two {
    width: 50%;
  }
  .wide--one-quarter {
    width: 25%;
  }
  .wide--three-quarter {
    width: 75%;
  }
  .wide--one-three {
    width: 33.3333%;
  }
  .wide--two-three {
    width: 66.66666%;
  }
  .wide--two-fifth {
    width: 40%;
  }
  .wide--three-fifth {
    width: 60%;
  }