.section-video{
    padding: 10rem;
    background-image: url('../img/shutterstock_572879050_huge.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}