.section-logo{
    position: relative;
    background: transparent;
    &::before{
        position: absolute;
        content: '';
        left: 0;
        top: 15rem;
        width: 100%;
        height: calc(100% - #{15rem});
        background-image:linear-gradient(to right rgba(40,40,40,0.7) , rgba(40,40,40,0.7)), url('../img/Rectangle\ 5.png');
    }
    .img-box{
        position: relative;
        width: 70%;
        height: auto;
        margin: 0 auto;
        margin-top: -15rem;
    }
}