.furnishing{
    position: relative;
    &__details{
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding: 3rem 10rem;
        background-color: $color-white;
        top: 80%;
    }
    &__more{
        position: absolute;
        right: 3rem;
        top: -1.5rem;
        padding:.7rem 1.2rem;
        background-color: $color-blue-light;
        color: $color-white;
        font-size: 1.3rem;
    }
    img{
        width: 100%;
    }
}