.slider {
  position: relative;
}
.slide-banner {
  text-align: center;
  &__details {
    position: absolute;
    width: 80rem;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: .7s ease-in-out;
    background-position: center;
    img{
        display: block;
    }
  }
  li.active {
    position: relative;
    opacity: 1;
    left: 0;
  }
}
