.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-big{
    margin-bottom: 5rem !important;
}
.u-margin-bottom-smail{
    margin-bottom: 1.8rem !important;
}
.op-8{
    opacity: .8;
}